.lol {
  color: #53ff8d;
}

#32e7c0
#ecf753

"list.highlightForeground": "#e7c380",


"notificationToast.border": "#454545",
"panel.background": "#1c212e",
"panel.border": "#1a1f2e",
"peekView.border": "#454545",

#ebebeb